*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // background-color: rgba(67, 67, 240, 0.824);
}

.container-game {
  // display: none;
}

.question {
  font-size: 2rem;
  color: red;
}

.hide {
  // display: none;
}
