@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$color-primary: rgb(136, 84, 192);
$color-secondary: rgb(0, 201, 133);
$color-tertiary: rgb(250, 104, 10);
$color-tertiary-selected: rgba(250, 102, 10, 0.839);

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $color-primary;
}

.container-game {
  font-family: 'Montserrat', sans-serif;
  width: 80rem;
  max-width: 80%;
  padding: 3rem;
  border-radius: 1.5rem;
  background-color: $color-secondary;
  box-shadow: 0 0 1rem 0.1rem;
  margin: 2rem auto;
}

// *questions section
.container-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: auto;

  .question {
    font-size: 2.25rem;
    padding: 1rem;
    background-color: white;
    border-style: solid;
    border-radius: 0.5em;
    color: black;
    // text-shadow: 0.1rem 0.1rem black;
  }
}

// *answers section
.container-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 3rem 0rem;

  .btn-answers {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    width: 20rem;
    justify-self: center;
    // max-width: 80%;
  }
}

// *results section
.container-results-title {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  color: white;
  text-shadow: 0.15rem 0.15rem black;
}

.container-user-results {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 'box1 box2 box3';
  grid-template-rows: auto;
  background-color: white;
  border-radius: 1rem;
  column-gap: 5rem;
  padding: 2rem 0.5rem 2rem 2.5rem;
  margin-top: 1rem;
  line-height: 2.5rem;
  height: 15vh;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: black;
  overflow-y: scroll;

  // text-shadow: 0.075rem 0.075rem black;
  .box1 {
    grid-area: box1;
  }

  .box2 {
    // background: blue;
    // display: none;
    grid-area: box2;
    // justify-self:
  }

  .box3 {
    // background: purple;
    grid-area: box3;
    justify-self: center;
  }
}

// *controls section
.container-clicker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 1rem;
  padding: 1rem;
  border: 0.15rem;
  border-style: solid;
  outline: none;
  &:hover {
    background-color: $color-tertiary;
  }
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.btn-start {
  font-size: 7rem;
  padding: 3rem 8rem;
  margin: 5rem;
  animation: fade 3s ease forwards;
  -webkit-animation: fadeIn 5s ease forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.btn-next {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  // margin: 1rem;
}

.hidden {
  display: none;
}

.selected-answer {
  background: $color-tertiary-selected;
}

span {
  font-size: 1.75rem;
  color: $color-tertiary;
}

#successAudio,
#failureAudio {
  visibility: hidden;
  width: 0;
  height: 0;
}
